*, html, body{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(Back.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  height:100vh;
  backdrop-filter: blur(5px)
}

h1,h2,h3,p,a{
  color:#000000;
  text-align: center;
}

.centerbox{
  width:1000px;
  border:10px solid black;
  padding:10px;
  margin:0 auto;
  margin-top:10px;
  background:rgba(0,0,0,0.5);
}

.avatar img{
  border-radius:50%;
}

.social{
  margin: 10px auto;
  background-color:#B0A690;


.social{
  margin:5px;


